# Security Warning! Do not commit this file to any VCS!
# This is a local file to speed up development process,
# so you don't have to change your environment variables.

# === General ===

DOMAIN_NAME=localhost


# === Django ===

# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
DJANGO_SECRET_KEY=__CHANGEME__

DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1 localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000


POSTGRES_DB=stud_db
POSTGRES_USER=stud_user
POSTGRES_PASSWORD=stud_password

DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432
