name: stud_iu

services:
  backend:
    container_name: stud_iu_back
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py collectstatic --noinput &&
             gunicorn stud_iu_back.wsgi:application --bind 0.0.0.0:8000 --workers 4"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - backend_network

  db:
    image: postgres:16.3-alpine3.20
    container_name: stud_iu_db
    env_file:
      - .env
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB" ]
      interval: 5s
      retries: 5
      start_period: 10s
      timeout: 10s
    volumes:
      - ${POSTGRES_VOLUME}:/var/lib/postgresql/data
    networks:
      - backend_network
  
networks:
  backend_network:
    driver: bridge
  
volumes:
  postgres_data:
